<nav class="nav-buttons">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary"
               [routerLink]="['/latest']"
               [routerLinkActive]="['active']"
               [ngClass]="{'active': isActive('/latest')}">
                Latest
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary"
               [routerLink]="['/upcoming']"
               [routerLinkActive]="['active']"
               [ngClass]="{'active': isActive('/upcoming')}">
                Upcoming
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary"
               [routerLink]="['/past']"
               [routerLinkActive]="['active']"
               [ngClass]="{'active': isActive('/past')}">
                Past
            </a>
        </li>
        <li class="nav-item logout">
            <button class="nav-link btn btn-outline-danger"
                    (click)="logout()">
                Logout
            </button>
        </li>
    </ul>
</nav>
